{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "semi": ["error", "always"],
    "object-curly-spacing": ["error", "always"],
    "unicorn/no-hex-escape": 0,
    "unicorn/escape-case": 0
  }
}
